<template>
  <b-container fluid>
    <b-row>
      <b-col cols="2" class="side-bar-border"> <side-bar></side-bar> </b-col>
      <b-col cols="10" class="scroll-page">
        <DisplayGrades v-if="grades" :grades="grades" />
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import SideBar from "../components/sideBar/SideBar.vue";
import DisplayGrades from "../components/DisplayGrades";

export default {
  props: {
    query: {
      type: Object
    },
    variables: {
      type: Object
    }
  },
  apollo: {
    grades: {
      query() {
        return this.query;
      },
      variables() {
        return this.variables;
      }
    }
  },
  components: {
    "side-bar": SideBar,
    DisplayGrades: DisplayGrades
  }
};
</script>

<style>
.side-bar-border {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  height: calc(100vh - 86px);
  padding-right: 0px !important;
  padding-left: 0px !important;
  background-color: var(--light);
}
.scroll-page {
  overflow-y: auto;
  max-height: calc(100vh - 86px);
}
.scroll-page::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.scroll-page::-webkit-scrollbar
{
	width: 8px;
	background-color: #F5F5F5;
}

.scroll-page::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: var(--primary);
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
</style>
