;<template>
  <b-container fluid>
    <b-row>
      <div
        class="col-8 scrollbar-direction-right scroll-page"
        :class="{
          'leftComponentBorder': this.$route.params.subjectId
        }"
        v-if="tree"
      >
        <Tree :treeData="tree" />
      </div>
      <div
        class="col-4"
        v-if="
          this.$route.params.subjectId && EditingScreenCurrentNode
        "
      >
        <EditingScreen :currentNode="EditingScreenCurrentNode[0]" />
      </div>
    </b-row>
  </b-container>
</template>

<script>
import Tree from "../components/evaluationTree/Tree";
import EvaluationTreeDisplay from "../graphql/EvaluationTreeDisplay.js";
import EditingScreen from "../components/evaluationTree/EditingScreen.vue";

export default {
  props: {
    query: {
      type: Object
    },
    variables: {
      type: Object
    }
  },
  apollo: {
    EditingScreenCurrentNode: {
      skip() {
        return !this.$route.params.subjectId;
      },
      query() {
        return this.query;
      },
      variables() {
        return this.variables;
      }
    },
    tree: {
      query() {
        return EvaluationTreeDisplay;
      },
      variables() {
        return {
          cycleId: Number(this.$route.params.cycleId)
        };
      }
    }
  },
  name: "EvaluationTree",
  data() {
    return {
      tree: ""
    };
  },
  components: {
    Tree,
    EditingScreen
  }
};
</script>

<style>
.scrollbar-direction-right {
  direction: ltr;
}
.leftComponentBorder {
  height: calc(100vh - 86px);
  border-left: 1px solid black;
  overflow-y: auto;
  padding-right: 0px !important;
  padding-left: 0px !important;
}
.scroll-page {
  overflow-y: auto;
  max-height: calc(100vh - 86px);
}
.scroll-page::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.scroll-page::-webkit-scrollbar
{
	width: 8px;
	background-color: #F5F5F5;
}

.scroll-page::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: var(--primary);
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
</style>
