<template>
  <b-container fluid>
    <div v-for="student in students" :key="'firstFor' + student.id">
      <br />
      <b-row
        ><b-col
          ><h4 class="text-right">{{ date() }}</h4></b-col
        >
        <b-col><h4 class="text-center">-בלמ"ס-</h4></b-col>
        <b-col><h4 class="text-left">ביה"ס למקצועות המחשוב</h4></b-col></b-row
      >
      <br />
      <b-row>
        <b-img
          :src="require('../assets/img/tikshuv.png')"
          alt="tikshuv image"
          class="tikshuv"
        />
        <b-img
          :src="require('../assets/img/MagenBasmah.png')"
          alt="MagenBasmah image"
          class="MagenBasmah"
        />
      </b-row>
      <br />
      <b-row>
        <b-col />
        <h1>גיליון ציונים</h1>
        <b-col />
      </b-row>
      <b-row>
        <b-col />
        <h1>קורס {{ student.courses[0].course.name }}</h1>
        <b-col
      /></b-row>
      <b-row>
        <b-col />
        <h4 class="BGColorLightGrey">
          {{ student.user.first_name + " " + student.user.last_name }}
        </h4>
        <b-col
      /></b-row>
      <div class="pagebreak">
        <b-row>
          <b-img
            :src="require('../assets/img/tikshuv.png')"
            alt="tikshuv image"
            class="tikshuvSecondPage"
          />
          <b-img
            :src="require('../assets/img/MagenBasmah.png')"
            alt="MagenBasmah image"
            class="MagenBasmahSecondPage"
          />
        </b-row>
        <br />
        <table>
          <tr class="text-center BGColorBlack ColorWhite">
            <th>נושא</th>
            <th>ציון</th>
            <th>הערות</th>
          </tr>
          <tr class="BGColorMediumGrey">
            <td class="Width80">ציון גמר</td>
            <td class="Width5">{{ Math.round(student.courses[0].grade) }}</td>
            <td
              class="Width15"
              v-if="Math.round(student.courses[0].grade) >= EXCELLENTGRADE"
            >
              מצוין
            </td>
            <td class="Width15" v-else></td>
          </tr>
          <template v-for="s in subjects(student.subjects)">
            <tr class="BGColorLightGrey" :key="'SecondFor' + s.subject_id">
              <td class="TextIndent2em">{{ s.subject.name }}</td>
              <td>{{ Math.round(s.grade) }}</td>
              <td class="Width15" v-if="Math.round(s.grade) >= EXCELLENTGRADE">
                מצוין
              </td>
              <td class="Width15" v-else></td>
            </tr>
            <template v-for="t in testsBySubjectId(student, s.subject_id)">
              <tr class="BGColorOffWhite" :key="'ThirdFor' + t.test.id">
                <td class="TextIndent4em">{{ t.test.name }}</td>
                <td>{{ Math.round(t.grade) }}</td>
                <td
                  class="Width15"
                  v-if="Math.round(t.grade) >= EXCELLENTGRADE"
                >
                  מצוין
                </td>
                <td class="Width15" v-else></td>
              </tr>
              <template v-for="c in componentsByTestId(student, t.test.id)">
                <tr :key="'ForthFor' + c.component_id">
                  <td class="TextIndent6em">{{ c.component.name }}</td>
                  <td>{{ Math.round(c.grade) }}</td>
                  <td
                    class="Width15"
                    v-if="Math.round(c.grade) >= EXCELLENTGRADE"
                  >
                    מצוין
                  </td>
                  <td class="Width15" v-else></td>
                </tr>
              </template>
            </template>
          </template>
        </table>
      </div>
      <div class="pagebreak"></div>
    </div>
  </b-container>
</template>

<script>
import { EXCELLENTGRADE } from "../assets/constants.js";
export default {
  data() {
    return {
      EXCELLENTGRADE: EXCELLENTGRADE
    };
  },
  props: ["result"],
  computed: {
    students() {
      return this.$route.params.result
        ? this.$route.params.result.data.users_students
        : [];
    }
  },
  created() {
    const r = this.$router;
    window.onload = function() {
      r.push({ name: "DisplayGradesCycle" });
    };
  },
  methods: {
    subjects(subjects) {
      return subjects.sort(
        (a, b) =>
          a.subject.cycle_instances[0].order -
          b.subject.cycle_instances[0].order
      );
    },
    testsBySubjectId(student, subjectId) {
      return student.tests
        .filter(t => t.test.subject_id === subjectId)
        .sort(
          (a, b) =>
            a.test.cycle_instances[0].order - b.test.cycle_instances[0].order
        );
    },
    componentsByTestId(student, testId) {
      return student.components
        .filter(t => t.component.test_id === testId)
        .sort(
          (a, b) =>
            a.component.cycle_instances[0].order -
            b.component.cycle_instances[0].order
        );
    },
    date() {
      const today = new Date();
      const dd = today.getDate() < 10 ? "0" + today.getDate() : today.getDate();
      const mm =
        today.getMonth() + 1 < 10
          ? "0" + (today.getMonth() + 1).toString()
          : (today.getMonth() + 1).toString();
      const yyyy = today.getFullYear();

      return dd + "/" + mm + "/" + yyyy;
    }
  }
};
</script>

<style>
.pagebreak {
  page-break-before: always;
}
.MagenBasmah {
  height: 30%;
  width: 11%;
  display: block;
  margin-right: auto;
}

.tikshuv {
  height: 30%;
  width: 13%;
  left: 0;
  display: block;
  margin-left: auto;
}
* {
  font-family: Tahoma, Geneva, sans-serif;
}
table,
th,
td {
  border: 1px solid black;
}
table {
  width: 100%;
}
th,
td {
  padding: 5px;
}
th {
  text-align: left;
}
.MagenBasmahSecondPage {
  height: 25%;
  width: 8%;
  opacity: 0.5;
  display: block;
  margin-right: auto;
}

.tikshuvSecondPage {
  height: 25%;
  width: 10%;
  opacity: 0.5;
  left: 0;
  display: block;
  margin-left: auto;
}
.BGColorLightGrey {
  background-color: #e3e3e3;
}
.BGColorBlack {
  background-color: black;
}
.BGColorOffWhite {
  background-color: rgb(250, 246, 246);
}
.ColorWhite {
  color: white;
}
.BGColorMediumGrey {
  background-color: #b0b0b0;
}
.TextIndent2em {
  text-indent: 2em;
}
.TextIndent4em {
  text-indent: 4em;
}
.TextIndent6em {
  text-indent: 6em;
}
.Width80 {
  width: 80%;
}
.Width5 {
  width: 5%;
}
.Width15 {
  width: 15%;
}
</style>
