<template>
  <b-container>
    <b-img
      class="home-page-height"
      :src="require('../assets/img/bsmch.jpg')"
      center
      alt="bsmch image"
    />
  </b-container>
</template>

<style>
.home-page-height {
  max-height: calc(100vh - 96px);
}
</style>
