<template>
  <b-container fluid>
    <b-row>
      <b-col cols="2" class="side-bar-border"> <side-bar></side-bar> </b-col>
      <b-col cols="10">
        <inserting-grades
          v-if="test_components && components_grades_by_test"
          :studentNumberAndIDAndGrade="tableData"
          :hotTableSettings="defineHeaders()"
          :hotTableCols="defineCols()"
          :metaData="passMetaData()"
        >
        </inserting-grades>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import InsertingGrades from "../components/InsertingGrades.vue";
import SideBar from "../components/sideBar/SideBar.vue";
import ComponentsGradesByTest from "../graphql/ComponentsGradesByTest";
import * as R from "ramda";
import { insertingGradesTableTitles } from "../assets/constants.js";
import ComponentByTest from "../graphql/ComponentByTest";

export default {
  apollo: {
    test_components: {
      query() {
        return ComponentByTest;
      },
      variables() {
        return {
          testId: Number(this.$route.params.testId),
          cycleId: Number(this.$route.params.cycleId)
        };
      }
    },
    components_grades_by_test: {
      query() {
        return ComponentsGradesByTest;
      },
      variables() {
        return {
          testId: Number(this.$route.params.testId),
          cycleId: Number(this.$route.params.cycleId)
        };
      }
    }
  },
  components: {
    "side-bar": SideBar,
    "inserting-grades": InsertingGrades
  },
  computed: {
    tableData() {
      //adapt the gtaphql data to the table data
      //"merging" between components grades per user (component exist if grade exist)
      //with existing componenets per test
      return this.components_grades_by_test.map(student => [
        ...R.unionWith(
          R.eqBy(R.prop("componentId")),
          student.components_grades.map(component_grade => ({
            componentId: component_grade.component_id,
            grade: component_grade.grade,
            order: component_grade.component.cycle_instances[0].order
          })),
          this.test_components.map(test_component => ({
            componentId: test_component.component_id,
            grade: null,
            order: test_component.order
          }))
        )
          .sort((a, b) => b.order - a.order)
          .map(pair => pair.grade),
        student.student_number
      ]);
    }
  },
  methods: {
    passMetaData() {
      //adapt the gtaphql data to the table data
      //"merging" between components grades per user (component exist if grade exist)
      //with existing componenets per test
      return this.components_grades_by_test.map(student => [
        ...R.unionWith(
          R.eqBy(R.prop("componentId")),
          this.extractMetaDataForStudent(student),
          this.test_components.map(test_component => ({
            componentId: test_component.component_id,
            order: test_component.order,
            gradeId: null,
            studentId: student.id
          }))
        )
          .sort((a, b) => b.order - a.order)
          .map(col => ({
            componentId: col.componentId,
            studentId: col.studentId,
            gradeId: col.gradeId
          }))
      ]);
    },
    extractMetaDataForStudent(student) {
      return student.components_grades.map(component_grade => ({
        componentId: component_grade.component_id,
        order: component_grade.component.cycle_instances[0].order,
        gradeId: component_grade.id,
        studentId: student.id
      }));
    },
    gradeValidator(value, callBack) {
      value >= 0 && value <= 100 ? callBack(true) : callBack(false);
    },
    defineHeaders() {
      return R.sort((a, b) => b.order - a.order, this.test_components)
        .map(component => component.component.name)
        .concat([insertingGradesTableTitles.SOLDIER_NUMBER]);
    },
    defineCols() {
      return this.test_components
        .map(() => ({
          validator: this.gradeValidator,
          allowInvalid: false
        }))
        .concat([
          {
            readOnly: true
          }
        ]);
    }
  }
};
</script>
<style>
.side-bar-border {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  height: calc(100vh - 86px);
  padding-right: 0px !important;
  padding-left: 0px !important;
}
</style>
