<template>
  <v-client-table
    class="text-center"
    :data="data"
    :columns="columns"
    :options="options"
  >
    <span v-if="$route.params.componentId" slot="actions" slot-scope="props">
      <b-button
        @click="editCG(props)"
        variant="outline-primary"
        class="action-button"
      >
        <i class="fas fa-edit"></i>
      </b-button>
      <b-button
        @click="deleteCG(props)"
        variant="outline-danger"
        class="action-button action-delete-button"
      >
        <i class="fas fa-trash-alt"></i>
      </b-button>
    </span>
  </v-client-table>
</template>

<script>
import Swal from "sweetalert2";
import InsertGradeComponent from "../graphql/InsertGradeComponent.js";
import StudentGradesForComponent from "../graphql/StudentGradesForComponent";
import DeleteComponentGrade from "../graphql/DeleteComponentGrade";
import { sweetAlert } from "../assets/constants.js";
export default {
  props: ["data"],
  computed: {
    columns() {
      if (this.$route.params.componentId) {
        return ["studentNumber", "name", "grade", "actions"];
      } else {
        return ["studentNumber", "name", "grade"];
      }
    },
    options() {
      return {
        headings: {
          grade: this.$route.params.componentId
            ? "ציון"
            : this.$route.params.testId
            ? "ציון מבחן"
            : this.$route.params.subjectId
            ? "ציון מקצוע"
            : this.$route.params.cycleId
            ? "ציון קורס"
            : "",
          name: "שם חניך",
          studentNumber: "מספר חניך",
          actions: "עריכת ציון"
        },
        sortable: ["studentNumber", "name", "grade"],
        filterable: ["studentNumber", "name"],
        highlightMatches: true,
        texts: {
          filter: "",
          filterPlaceholder: "הזן ערך לחיפוש",
          count: "מציג {from} עד {to} מתוך {count} |{count} תוצאות |תוצאה אחת",
          limit: "תוצאות",
          noResults: "אין תוצאות מתאימות"
        },
        perPage: 1000,
        perPageValues: []
      };
    }
  },
  methods: {
    async editCG(data) {
      const { value: new_grade } = await Swal({
        title: "עריכת ציון",
        input: "text",
        inputPlaceholder: "הקלד ציון חדש",
        showCloseButton: true,
        inputValidator: value => {
          return new Promise(resolve => {
            value.length &&
            !isNaN(value) &&
            Number(value) >= 0 &&
            Number(value) <= 100
              ? resolve()
              : resolve("נא להקליד ציון תקין!");
          });
        }
      });
      if (new_grade) {
        this.$apollo.mutate({
          mutation: InsertGradeComponent,
          variables: {
            sid: data.row.studentId,
            gr: Number(new_grade),
            cid: this.$route.params.componentId
          },
          refetchQueries: [
            {
              query: StudentGradesForComponent,
              variables: {
                cycleId: this.$route.params.cycleId,
                componentId: this.$route.params.componentId
              }
            }
          ]
        });
      }
    },
    async deleteCG(data) {
      Swal({
        title:
          sweetAlert.TEXT_COMPONENT_GRADE_DELETION_PROMPT_TITLE + data.row.name,
        html: sweetAlert.TEXT_COMPONENT_GRADE_DELETION_PROMPT_HTML_BODY,
        type: "warning",
        showCancelButton: true,
        confirmButtonText: "אישור",
        cancelButtonText: "ביטול"
      }).then(result => {
        if (result.value) {
          this.$apollo.mutate({
            mutation: DeleteComponentGrade,
            variables: {
              studentId: data.row.studentId,
              componentId: this.$route.params.componentId
            },
            refetchQueries: [
              {
                query: StudentGradesForComponent,
                variables: {
                  cycleId: this.$route.params.cycleId,
                  componentId: this.$route.params.componentId
                }
              }
            ]
          });
          this.showAlert();
        }
      });
    },
    showAlert() {
      Swal.fire({
        type: "success",
        title: sweetAlert.TEXT_IF_DELETED_COMPONENT_GRADE,
        toast: true,
        position: "bottom",
        showConfirmButton: false,
        timer: 3000
      });
    }
  }
};
</script>

<style>
.col-md-12 > .form-group.form-inline.pull-left.VueTables__search {
  padding: 0.5rem !important;
  margin-bottom: 0px;
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.col-md-12 > .form-group.form-inline.pull-right.VueTables__limit {
  padding: 0.5rem !important;
  margin-left: auto !important;
}

.VuePagination.row.col-md-12 {
  display: flex !important;
  justify-content: center !important;
}
.action-delete-button {
  margin-right: 7%;
}
.action-button {
  border: none !important;
}
</style>
