<template>
  <div>
    <grades-panel :gradesData="tableData()" />
    <b-row class="justify-content-md-center">
      <router-link
        v-if="$route.params.testId && !$route.params.componentId"
        class="btn btn-primary mt-3"
        exact
        :to="{
          path:
            '/insertingGrades/course/' +
            $route.params.courseId +
            '/cycle/' +
            $route.params.cycleId +
            '/subject/' +
            $route.params.subjectId +
            '/test/' +
            $route.params.testId
        }"
      >
        הזנת ציונים
      </router-link>
    </b-row>
    <br />
    <data-table :data="tableData()" />
    <router-link
      :to="{
        path:
          '/course/' +
          $route.params.courseId +
          '/cycle/' +
          $route.params.cycleId
      }"
      class="float bg-primary"
      v-on:click.native="showModal()"
    >
      <i class="material-icons my-float">description</i>
    </router-link>
    <b-modal
      id="modal-center"
      ref="modal"
      centered
      hide-footer
      title="הפקת גיליון ציונים"
      class="modal-header"
    >
      <div>
        <b-form-group>
          <template slot="label">
            <b>בחר חניך:</b> <br />
            <b-form-checkbox
              v-model="allSelected"
              aria-describedby="students"
              aria-controls="students"
              @change="toggleAll"
              >{{ allSelected ? "הסר הכל" : "סמן הכל" }}</b-form-checkbox
            >
          </template>
          <b-form-checkbox-group
            id="students"
            stacked
            v-model="selected"
            name="studs"
            :options="students"
            class="ml-4 studentlist"
            aria-label="Individual students"
          ></b-form-checkbox-group>
        </b-form-group>
      </div>
      <label
        v-if="nothingSelected && isGenerateClicked"
        class="NothingSelectedErrorText"
        >לא נבחרו חניכים, נא לבחור חניך.</label
      >
      <b-btn @click="checkIfGenerateNeeded()" class="btn-design"
        >הפק גיליונות</b-btn
      >
    </b-modal>
  </div>
</template>

<script>
import GradesPanel from "./GradesPanel.vue";
import DataTable from "./DataTable.vue";
import AllStudentsForGradesSheet from "../graphql/AllStudentsForGradesSheet.js";
import SheetGradeForStudent from "../graphql/SheetGradeForStudent.js";

export default {
  apollo: {
    AllStudents: {
      query() {
        return AllStudentsForGradesSheet;
      },
      variables() {
        return {
          cycleId: Number(this.$route.params.cycleId)
        };
      }
    }
  },
  name: "DisplayGrades",
  props: ["grades"],
  components: {
    "grades-panel": GradesPanel,
    "data-table": DataTable
  },
  data() {
    return {
      selected: [],
      allSelected: false,
      isGenerateClicked: false
    };
  },
  computed: {
    students() {
      return this.AllStudents
        ? this.AllStudents.map(s => ({
            value: s.id,
            text: s.first_name + " " + s.last_name
          }))
        : [];
    },
    nothingSelected() {
      return !this.selected.length ? true : false;
    }
  },
  methods: {
    tableData() {
      return this.grades.map(studentGrade => ({
        studentId: studentGrade.student.id,
        grade: Number(Number(studentGrade.grade).toFixed(2)),
        studentNumber: studentGrade.student.student_number,
        name:
          studentGrade.student.user.first_name +
          " " +
          studentGrade.student.user.last_name,
        department: studentGrade.student.department.number
      }));
    },
    showModal() {
      this.isGenerateClicked = false;
      this.$refs.modal.show();
    },
    toggleAll(checked) {
      this.selected = checked ? this.students.map(s => s.value) : [];
    },
    checkIfGenerateNeeded() {
      this.isGenerateClicked = true;
      if (!this.nothingSelected) {
        this.generate();
      }
    },
    generate() {
      this.$apollo
        .query({
          query: SheetGradeForStudent,
          variables: {
            students: this.selected,
            cycleId: this.$route.params.cycleId
          }
        })
        .then(result =>
          this.$router.push({
            name: "GenerateGradesSheet",
            params: { result: result }
          })
        );
    }
  },
  watch: {
    selected(newVal) {
      this.allSelected = newVal.length === this.students.length ? true : false;
    }
  }
};
</script>

<style>
.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  left: 40px;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
  color: white;
}

.float:hover {
  color: white;
}

.my-float {
  margin-top: 22%;
  margin-left: 2%;
}
.material-icons {
  font-size: 32px;
}

.btn-design {
  background-color: #2c3e50 !important;
  float: left;
}

.modal-header {
  display: -webkit-box !important;
}

.custom-checkbox {
  margin-right: 1% !important;
}

.studentlist {
  overflow-y: auto;
  max-height: calc(100vh - 300px);
  width: 100%;
}

.custom-control-label::before,
.custom-control-label::after {
  right: 0 !important;
}

.custom-control-label {
  padding-right: 22px;
}
.NothingSelectedErrorText {
  display: inline;
  color: red;
  font-size: 1em;
}
</style>
