<template>
  <b-container class="pt-3">
    <b-row>
      <b-col v-for="department in users_departments" :key="department.id">
        <b-card
          class="text-center"
          :title="depAverage(department.number).toString()"
        >
          <p class="card-text text-center">
            ממוצע מחלקה {{ department.number }}
          </p>
          <b-progress
            :value="depAverage(department.number)"
            :variant="findColor(depAverage(department.number))"
          >
          </b-progress>
        </b-card>
      </b-col>
      <!-- Item -->
      <b-col>
        <b-card class="text-center" :title="average.toString()">
          <p class="card-text text-center">ממוצע</p>
          <b-progress :value="average" :variant="findColor(average)">
          </b-progress>
        </b-card>
      </b-col>
      <!-- Item -->
      <b-col>
        <b-card class="text-center" :title="median.toString()">
          <p class="card-text text-center">חציון</p>
          <b-progress :value="median" :variant="findColor(median)">
          </b-progress>
        </b-card>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import * as R from "ramda";
import AllDepartmentsByCycle from "../graphql/AllDepartmentsByCycle";

export default {
  apollo: {
    users_departments: {
      query() {
        return AllDepartmentsByCycle;
      },
      variables() {
        return {
          cycleId: Number(this.$route.params.cycleId)
        };
      }
    }
  },
  name: "GradesPanel",
  props: ["gradesData"],
  data() {
    return {
      users_departments: ""
    };
  },
  computed: {
    average() {
      const avg = R.mean(
        this.gradesData.map(studentGrade => studentGrade.grade)
      );

      return isNaN(avg) ? 0 : Number(avg.toFixed(2).toString());
    },
    median() {
      const med = R.median(
        this.gradesData.map(studentGrade => studentGrade.grade)
      );

      return isNaN(med) ? 0 : Number(med.toFixed(2));
    }
  },
  methods: {
    depAverage(depNumber) {
      const avg = R.mean(
        this.gradesData
          .filter(studentGrade => studentGrade.department === depNumber)
          .map(studentGrade => studentGrade.grade)
      );

      return isNaN(avg) ? 0 : Number(avg.toFixed(2));
    },
    findColor(percent) {
      return percent >= 75
        ? "success"
        : percent < 75 && percent >= 55
        ? "warning"
        : percent < 55 && percent > 0
        ? "danger"
        : "";
    }
  }
};
</script>

<style></style>
