<template>
  <div>
    <b-row class="pt-5">
      <b-col class="d-flex justify-content-center">
        <button class="btn btn-primary" @click="addComponentGrade">שמור</button>
      </b-col>
    </b-row>
    <b-row class="pt-2">
      <b-col>
        <label
          v-if="isGradeDeleted"
          class="empthyValuesErrorText d-flex justify-content-center mb-0"
        >
          <b>שים לב!&nbsp;</b>
          <p>{{ deleteWarning.MESSEGE }}</p></label
        >
      </b-col>
    </b-row>
    <b-row class="pt-3">
      <b-col class="offset-1">
        <HotTable :settings="settings" id="test-hot"></HotTable>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import { HotTable } from "@handsontable/vue";
import {
  mutationConstants,
  tableDataChangeConstants,
  deleteWarning
} from "../assets/constants.js";
import InsertAllGradesForTest from "../graphql/InsertAllGradesForTest.js";
import * as R from "ramda";

export default {
  props: [
    "studentNumberAndIDAndGrade",
    "hotTableSettings",
    "hotTableCols",
    "metaData"
  ],
  data() {
    return {
      deleteWarning,
      cellsChanged: [],
      isGradeDeleted: false,
      settings: {
        data: this.studentNumberAndIDAndGrade,
        height: "",
        preventOverflow: "vertical",
        colHeaders: this.hotTableSettings,
        columns: this.hotTableCols,
        rowHeights: "40%",
        rowHeaders: false,
        stretchH: "all",
        maxRows: this.studentNumberAndIDAndGrade.length,
        maxCols: this.hotTableSettings.length,
        afterChange: (changes, source) => {
          if (source === "loadData") {
            return;
          }
          changes.forEach(change => {
            !R.contains(
              {
                studentId: this.metaData[change[tableDataChangeConstants.ROW]][
                  change[tableDataChangeConstants.COL]
                ].studentId,
                componentId: this.metaData[
                  change[tableDataChangeConstants.ROW]
                ][change[tableDataChangeConstants.COL]].componentId
              },
              this.cellsChanged
            )
              ? this.addChange(change)
              : null;
            this.checkIsGradeDeleted();
          });
        }
      }
    };
  },
  components: {
    HotTable
  },

  methods: {
    checkIsGradeDeleted() {
      this.isGradeDeleted = this.returnChangedComponent().filter(
        changed =>
          !this.checkIfNumber(changed.grade) && changed.gradeId !== null
      ).length;
    },
    returnChangedComponent() {
      //R.unnest- removes the highest level array
      //mapping the values recived from inserting grades page to the way the mutation expects
      //to recive
      return R.zip(
        R.unnest(
          this.studentNumberAndIDAndGrade.map(sng =>
            R.zip(
              sng.slice(0, sng.length - 1),
              R.unnest(
                this.metaData.map(metaDatarow =>
                  metaDatarow.map(metaDatacol => metaDatacol.componentId)
                )
              )
            )
          )
        ),
        R.unnest(
          this.metaData.map(metaDataRow =>
            metaDataRow.map(metaDataCol => [
              metaDataCol.studentId,
              metaDataCol.gradeId
            ])
          )
        )
      )
        .map(studentValues => R.unnest(studentValues))
        .map(studentValues =>
          R.zipObj(mutationConstants.COMPONENT_VALUES, studentValues)
        )
        .filter(studentValues =>
          R.contains(
            {
              studentId: studentValues.studentId,
              componentId: studentValues.componentId
            },
            this.cellsChanged
          )
        );
    },
    checkIfNumber(number) {
      return !isNaN(number) && number !== "";
    },
    addChange(change) {
      this.cellsChanged = this.cellsChanged.concat({
        studentId: this.metaData[change[tableDataChangeConstants.ROW]][
          change[tableDataChangeConstants.COL]
        ].studentId,
        componentId: this.metaData[change[tableDataChangeConstants.ROW]][
          change[tableDataChangeConstants.COL]
        ].componentId
      });
    },
    addComponentGrade() {
      const returnToTestPage = () => {
        this.$router.push({
          path: `/course/${this.$route.params.courseId}/cycle/${
            this.$route.params.cycleId
          }/subject/${this.$route.params.subjectId}/test/${
            this.$route.params.testId
          }`
        });
      };
      const insertGrades = () => {
        this.$apollo
          .mutate({
            mutation: InsertAllGradesForTest,
            variables: {
              gradesToInsert: this.returnChangedComponent()
                .filter(changed => this.checkIfNumber(changed.grade))
                .map(component => ({
                  grade: component.grade,
                  component_id: component.componentId,
                  student_id: component.studentId
                })),
              gradeIDs: this.returnChangedComponent()
                .filter(changed => !this.checkIfNumber(changed.grade))
                .map(component => component.gradeId)
            }
          })
          .then(() => returnToTestPage());
      };
      this.returnChangedComponent().length
        ? insertGrades()
        : returnToTestPage();
    }
  }
};
</script>

<style src="../../node_modules/handsontable/dist/handsontable.full.css"></style>
<style>
#test-hot {
  direction: ltr;
  text-align: center;
  height: calc(100vh - 240px) !important;
}
#insert-alert {
  position: absolute;
  bottom: 20px;
}
/* Every odd row */
.ht_master tr:nth-of-type(odd) > td {
  background-color: #ecf0f1;
}
.handsontable th {
  background-color: white;
  font-weight: bold;
}
.ht_master tr:hover > td {
  background-color: rgba(0, 0, 0, 0.075);
}
.ht_master tr > td {
  vertical-align: middle;
}
.empthyValuesErrorText {
  display: inline;
  color: red;
  font-size: 1em;
}
</style>
