<template>
  <b-navbar type="dark" toggleable="md" variant="primary">
    <b-navbar-brand
      :to="
        $route.params.courseId && $route.params.cycleId
          ? {
              path: `/course/${$route.params.courseId}/cycle/${
                $route.params.cycleId
              }`
            }
          : { path: '/' }
      "
      @click="resetState"
      class="font-weight-bold"
    >
      iGrade
    </b-navbar-brand>
    <b-navbar-nav v-if="this.$route.params.cycleId">
      <b-nav-item
        :to="{
          path:
            '/course/' +
            $route.params.courseId +
            '/cycle/' +
            this.$route.params.cycleId
        }"
        :class="{ active: $route.path.startsWith('/course/') }"
      >
        ציונים
      </b-nav-item>
      <b-nav-item
        :to="{
          path:
            '/evaluationTree/course/' +
            $route.params.courseId +
            '/cycle/' +
            this.$route.params.cycleId
        }"
        :class="{ active: $route.path.startsWith('/evaluationTree/') }"
      >
        עץ הערכה
      </b-nav-item>
    </b-navbar-nav>

    <b-navbar-nav class="mr-auto">
      <b-nav-item-dropdown
        v-if="courses"
        :text="defineCourse(courses)"
        class="m-2"
        variant="success"
      >
        <div v-for="course in courses" :key="course.id">
          <b-dropdown-item
            @click="setCourse(course.name)"
            :to="{ path: '/course/' + course.id }"
          >
            {{ course.name }}
          </b-dropdown-item>
        </div>
      </b-nav-item-dropdown>
      <b-nav-item-dropdown
        v-if="courses"
        :text="defineCycle(cycles)"
        class="m-2"
        variant="success"
      >
        <div v-for="cycle in cycles" :key="cycle.id">
          <b-dropdown-item
            :to="{
              path: '/course/' + $route.params.courseId + '/cycle/' + cycle.id
            }"
            @click="setCycleForReal(cycle.name)"
          >
            {{ cycle.name }}
          </b-dropdown-item>
        </div>
      </b-nav-item-dropdown>
      <b-nav-item-dropdown :text="defineTheme()" class="m-2" variant="success">
        <b-dropdown-item @click="changeTheme('FLATLY')">Flatly</b-dropdown-item>
        <b-dropdown-item @click="changeTheme('MINTY')">Minty</b-dropdown-item>
        <b-dropdown-item @click="changeTheme('SKETCHY')"
          >Sketchy</b-dropdown-item
        >
        <b-dropdown-item @click="changeTheme('MATERIA')"
          >Materia</b-dropdown-item
        >
        <b-dropdown-item @click="changeTheme('JOURNAL')"
          >Journal</b-dropdown-item
        >
        <b-dropdown-item @click="changeTheme('LUX')">Lux</b-dropdown-item>
      </b-nav-item-dropdown>
      <b-nav-item @click="redirectToGitLlab()" class="bug-report-button">
        <i id="bugReport" class="material-icons bug-report-icon">bug_report</i>
      </b-nav-item>
      <b-tooltip target="bugReport" placement="bottom"> דווח על באג </b-tooltip>
    </b-navbar-nav>
  </b-navbar>
</template>

<script>
import AllCoursesAndCycles from "../graphql/AllCoursesAndCycles";
import { theme } from "../assets/constants";

export default {
  apollo: {
    courses: {
      query() {
        return AllCoursesAndCycles;
      }
    }
  },
  name: "NavBar",
  data() {
    return {
      specCourse: "בחר קורס",
      specCycle: "בחר מחזור",
      specTheme: "Flatly",
      cycles: []
    };
  },
  methods: {
    resetState() {
      this.cycles = [];
    },
    setCourse(name) {
      this.specCourse = name;
    },
    setCycle(name) {
      this.specCycle = name;
    },
    setTheme(name) {
      this.specTheme = name;
    },
    setCycleForReal(name) {
      this.setCycle(name);
    },
    defineCourse(courses) {
      const getCourseNameById = id => {
        return courses.find(c => c.id === id).name;
      };
      const courseSelection = () => {
        this.setCourse(getCourseNameById(Number(this.$route.params.courseId)));
        this.cycles = this.courses.find(
          course => course.id === Number(this.$route.params.courseId)
        ).cycles;
      };
      !this.$route.params.courseId
        ? this.setCourse("בחר קורס")
        : courseSelection();
      return this.specCourse;
    },
    defineCycle(cycles) {
      const getCycleNameById = id => {
        return cycles.find(c => c.id === id).name;
      };
      !this.$route.params.cycleId
        ? this.setCycle("בחר מחזור")
        : this.setCycle(getCycleNameById(Number(this.$route.params.cycleId)));
      return this.specCycle;
    },
    defineTheme() {
      localStorage.theme
        ? this.setTheme(localStorage.theme)
        : this.setTheme("Flatly");
      return this.specTheme;
    },
    changeTheme(themeName) {
      localStorage.theme = theme[themeName];
      window.location.reload();
    },
    redirectToGitLlab() {
      window.open(
        "https://gitlab.com/Dev-Team-BSMH/igrade/issues/new?issue%5Bassignee_id%5D=&issue%5Bmilestone_id%5D=",
        "_blank"
      );
    }
  }
};
</script>

<style>
.navbar {
  padding: 0.5rem 0.5rem !important;
}
.bug-report-icon {
  font-size: 25px !important;
  margin-top: 27%;
}
.bug-report-button .nav-link:focus {
  color: white !important;
}
.bug-report-button .nav-link:hover {
  color: var(--red) !important;
}
</style>
