<template>
  <!-- Side Navbar -->
  <b-list-group v-if="subjects" class="side-bar-scroll" vertical>
    <subject-tree
      v-for="subject in subjects"
      :key="subject.subject.id"
      :subject="subject.subject"
      class="no-border-and-no-padding"
    ></subject-tree>
  </b-list-group>
</template>

<script>
import SubjectsTree from "./SubjectsTree.vue";
import EvaluationTreeByCycle from "../../graphql/EvaluationTreeByCycle";

export default {
  apollo: {
    subjects: {
      query() {
        return EvaluationTreeByCycle;
      },
      variables() {
        return {
          cycleId: Number(this.$route.params.cycleId)
        };
      }
    }
  },
  name: "SideBar",
  components: {
    "subject-tree": SubjectsTree
  }
};
</script>

<style>
.side-bar-scroll {
  overflow-y: auto !important;
  max-height: calc(100vh - 86px);
}
.side-bar-scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.side-bar-scroll::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f5;
}

.side-bar-scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--primary);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.no-border-and-no-padding {
  padding: unset !important;
  border: none !important;
}
</style>
