<template>
  <b-list-group-item
    id="greyBackgroundColor"
    :class="{
      active:
        subject.id === Number($route.params.subjectId) && !$route.params.testId
    }"
  >
    <b-button
      v-b-toggle="subject.id + 'subject'"
      :to="{
        path: `/course/${$route.params.courseId}/cycle/${
          $route.params.cycleId
        }/subject/${subject.id}/`
      }"
      :class="{
        bold: subject.id === Number($route.params.subjectId),
        colorButton:
          subject.id === Number($route.params.subjectId) &&
          !$route.params.testId
      }"
      variant="link"
    >
      <i v-if="isOpen === false" class="fas fa-angle-left"></i>
      <i v-else class="fas fa-angle-down"></i> {{ subject.name }}
    </b-button>
    <b-collapse
      v-on:show="ToggleArrow"
      v-on:hide="ToggleArrow"
      v-if="subject"
      :id="subject.id + 'subject'"
      :visible="Number($route.params.subjectId) === subject.id"
    >
      <b-list-group vertical>
        <test-tree
          v-for="test in subject.tests"
          :key="test.cycle_instances[0].test.id"
          :test="test.cycle_instances[0].test"
          class="no-border-and-no-padding"
        ></test-tree>
      </b-list-group>
    </b-collapse>
  </b-list-group-item>
</template>

<script>
import TestsTree from "./TestsTree.vue";

export default {
  data() {
    return {
      isOpen: Number(this.$route.params.subjectId) === this.subject.id
    };
  },
  methods: {
    ToggleArrow() {
      this.isOpen = !this.isOpen;
    }
  },
  name: "tests-tree",
  components: {
    "test-tree": TestsTree
  },
  props: ["subject"]
};
</script>

<style>
.btn-link.focus,
.btn-link:focus,
.btn-link:hover {
  text-decoration: none !important;
  text-decoration-line: none !important;
  text-decoration-style: initial;
  text-decoration-color: initial;
  border-color: transparent;
}
.bold {
  font-weight: bold !important;
}
.colorButton {
  font-weight: bold !important;
  color: var(--dark) !important;
}
#greyBackgroundColor {
  background-color: var(--light);
}
</style>
