<template>
  <b-list-group-item
    id="greyBackgroundColor"
    :class="{
      active:
        test.id === Number($route.params.testId) && !$route.params.componentId
    }"
  >
    <b-button
      class="mr-3"
      v-b-toggle="test.id + 'test'"
      :to="{
        path:
          '/course/' +
          $route.params.courseId +
          '/cycle/' +
          $route.params.cycleId +
          '/subject/' +
          $route.params.subjectId +
          '/test/' +
          test.id
      }"
      :class="{
        bold: test.id === Number($route.params.testId),
        colorButton:
          test.id === Number($route.params.testId) && !$route.params.componentId
      }"
      variant="link"
      ><i v-if="isOpen === false" class="fas fa-angle-left"></i>
      <i v-else class="fas fa-angle-down"></i> {{ test.name }}
    </b-button>
    <b-collapse
      v-on:show="ToggleArrow"
      v-on:hide="ToggleArrow"
      v-if="test"
      :id="test.id + 'test'"
      :visible="Number($route.params.testId) === test.id"
    >
      <b-list-group vertical>
        <b-list-group-item
          id="greyBackgroundColor"
          v-for="component in test.components"
          :key="component.cycle_instances[0].component.id"
          :class="{
            active:
              component.cycle_instances[0].component.id ===
              Number($route.params.componentId)
          }"
          class="no-border-and-no-padding"
        >
          <b-button
            class="mr-5"
            :to="{
              path:
                '/course/' +
                $route.params.courseId +
                '/cycle/' +
                $route.params.cycleId +
                '/subject/' +
                $route.params.subjectId +
                '/test/' +
                test.id +
                '/component/' +
                component.cycle_instances[0].component.id
            }"
            variant="link"
            :class="{
              colorButton:
                component.cycle_instances[0].component.id ===
                Number($route.params.componentId)
            }"
          >
            {{ component.cycle_instances[0].component.name }}
          </b-button>
        </b-list-group-item>
      </b-list-group>
    </b-collapse>
  </b-list-group-item>
</template>

<script>
export default {
  data() {
    return {
      isOpen: Number(this.$route.params.testId) === this.test.id
    };
  },
  methods: {
    ToggleArrow() {
      this.isOpen = !this.isOpen;
    }
  },
  name: "tests-tree",
  props: ["test"]
};
</script>
<style>
#greyBackgroundColor {
  background-color: var(--light);
}
.bold {
  font-weight: bold !important;
}
.colorButton {
  font-weight: bold !important;
  color: var(--dark) !important;
}
</style>
