<template>
  <li>
    <b-button
      class="col-3 m-1"
      variant="warning"
      :to="{
        path: `/evaluationTree/course/${this.$route.params.courseId}/cycle/${
          this.$route.params.cycleId
        }/subject/${this.$route.params.subjectId}/test/${
          this.$route.params.testId
        }/component/${node.component.id}`
      }"
    >
      <div>
        <span class="d-inline-block w-75">{{ node.component.name }}</span>
      </div>
    </b-button>
    <label class="labelDesign"> משקל : {{ node.weight }} </label>
  </li>
</template>

<script>
export default {
  name: "ComponentNode",
  props: {
    node: Object
  },
  methods: {
    changeAddSon() {
      this.isAddSonOpen = !this.isAddSonOpen;
    }
  }
};
</script>
<style>
.labelDesign {
  font-weight: bold !important;
  margin-right: 1% !important;
}
</style>
