<template>
  <div class="marginTop" v-if="currentNode">
    <div class="row m-1">
      <label class="labelDesign marginRight">שם :</label>
      <input
        class="col-0.5 mr-2"
        type="text"
        :placeholder="currentNode.node.name"
        v-model="newName"
        onfocus="this.placeholder = ''"
        @blur="reSetName($event)"
      />
    </div>
    <br />
    <div class="row  m-1">
      <label class="labelDesign marginRight">משקל :</label>
      <input
        class="col-0.5 mr-2"
        type="text"
        :placeholder="currentNode.weight"
        v-model="newWeight"
        onfocus="this.placeholder = ''"
        @blur="reSetWeight($event)"
      />
    </div>
    <br />
    <div v-if="!this.$route.params.componentId">
      <div class="row mr-1">
        <label class="boldText marginRight">
          לחץ <router-link to="" v-b-toggle.sons>פה</router-link> כדי
          לפתוח/לסגור את רשימת הבנים.
        </label>
      </div>
      <b-collapse id="sons">
        <div v-for="child in currentNode.node.children" :key="child.id">
          <b-row>
            <label
              variant="success"
              class="d-flex justify-content-start col-0.5 mr-4 mt-1 font-weight-bold"
            >
              <span>
                <u> {{ child.cycle_instances[0].child.name }} </u>
              </span>
              &nbsp;- {{ child.cycle_instances[0].weight }}
            </label>
          </b-row>
        </div>
      </b-collapse>
    </div>
    <br />
    <div class="d-flex justify-content-center">
      <b-button
        class="col-0.5 m-1"
        variant="success"
        @click="activateSaveFunction"
      >
        שמור שינויים
      </b-button>
      <b-button
        class="col-0.5 m-1"
        variant="danger"
        @click="activateDeleteFunction"
      >
        מחק
        {{
          !this.$route.params.componentId
            ? !this.$route.params.testId
              ? "נושא"
              : "מבחן"
            : "רכיב"
        }}
      </b-button>
    </div>
  </div>
</template>

<script>
import EvaluationTreeDisplay from "../../graphql/EvaluationTreeDisplay.js";
import EvaluationTreeComponentByCycle from "../../graphql/EvaluationTreeComponentByCycle.js";
import EvaluationTreeTestByCycle from "../../graphql/EvaluationTreeTestByCycle.js";
import EvaluationTreeSubjectByCycle from "../../graphql/EvaluationTreeSubjectByCycle.js";
import ChangeComponentNameAndWeight from "../../graphql/ChangeComponentNameAndWeight.js";
import ChangeTestNameAndWeight from "../../graphql/ChangeTestNameAndWeight.js";
import ChangeSubjectNameAndWeight from "../../graphql/ChangeSubjectNameAndWeight.js";
import DeleteComponent from "../../graphql/DeleteComponent";
import DeleteTest from "../../graphql/DeleteTest";
import DeleteSubject from "../../graphql/DeleteSubject";
import Swal from "sweetalert2";
import { deleteLevel, sweetAlert } from "../../assets/constants.js";

export default {
  name: "EditingScreen",
  props: ["currentNode"],
  data() {
    return {
      newName: "",
      newWeight: ""
    };
  },
  methods: {
    reSetWeight(event) {
      event.srcElement.placeholder = this.currentNode.weight;
    },
    reSetName(event) {
      event.srcElement.placeholder = this.currentNode.name;
    },
    saveChangesComponent() {
      return this.$apollo.mutate({
        mutation: ChangeComponentNameAndWeight,
        variables: {
          name: this.newName === "" ? this.currentNode.name : this.newName,
          order: this.currentNode.order,
          componentId: this.currentNode.node.id,
          weight:
            this.newWeight === "" ? this.currentNode.weight : this.newWeight,
          cycleId: this.$route.params.cycleId,
          testId: this.$route.params.testId
        },
        refetchQueries: [
          {
            query: EvaluationTreeDisplay,
            variables: {
              cycleId: Number(this.$route.params.cycleId)
            }
          },
          {
            query: EvaluationTreeComponentByCycle,
            variables: {
              cycleId: this.$route.params.cycleId,
              componentId: this.$route.params.componentId
            }
          }
        ]
      });
    },
    saveChangesTest() {
      return this.$apollo.mutate({
        mutation: ChangeTestNameAndWeight,
        variables: {
          name: this.newName === "" ? this.currentNode.name : this.newName,
          order: this.currentNode.order,
          weight:
            this.newWeight === "" ? this.currentNode.weight : this.newWeight,
          cycleId: this.$route.params.cycleId,
          testId: this.$route.params.testId,
          subjectId: this.$route.params.subjectId
        },
        refetchQueries: [
          {
            query: EvaluationTreeDisplay,
            variables: {
              cycleId: Number(this.$route.params.cycleId)
            }
          },
          {
            query: EvaluationTreeTestByCycle,
            variables: {
              cycleId: this.$route.params.cycleId,
              testId: this.$route.params.testId
            }
          }
        ]
      });
    },
    saveChangesSubject() {
      return this.$apollo.mutate({
        mutation: ChangeSubjectNameAndWeight,
        variables: {
          name: this.newName === "" ? this.currentNode.name : this.newName,
          order: this.currentNode.order,
          weight:
            this.newWeight === "" ? this.currentNode.weight : this.newWeight,
          cycleId: this.$route.params.cycleId,
          subjectId: this.$route.params.subjectId,
          courseId: this.$route.params.courseId
        },
        refetchQueries: [
          {
            query: EvaluationTreeDisplay,
            variables: {
              cycleId: Number(this.$route.params.cycleId)
            }
          },
          {
            query: EvaluationTreeSubjectByCycle,
            variables: {
              cycleId: this.$route.params.cycleId,
              subjectId: this.$route.params.subjectId
            }
          }
        ]
      });
    },
    activateSaveFunction() {
      (!this.$route.params.componentId
        ? !this.$route.params.testId
          ? this.saveChangesSubject()
          : this.saveChangesTest()
        : this.saveChangesComponent()
      ).then(() => {
        this.newName = "";
        this.newWeight = "";
      });
    },
    deleteComponent() {
      this.$apollo
        .mutate({
          mutation: DeleteComponent,
          variables: {
            componentId: this.$route.params.componentId,
            cycleId: this.$route.params.cycleId
          },
          refetchQueries: [
            {
              query: EvaluationTreeDisplay,
              variables: {
                cycleId: Number(this.$route.params.cycleId)
              }
            }
          ]
        })
        .then(() =>
          this.$router.push({
            path: `/evaluationTree/course/${
              this.$route.params.courseId
            }/cycle/${this.$route.params.cycleId}/subject/${
              this.$route.params.subjectId
            }/test/${this.$route.params.testId}`
          })
        );
    },
    deleteTest() {
      this.$apollo
        .mutate({
          mutation: DeleteTest,
          variables: {
            testId: this.$route.params.testId,
            cycleId: this.$route.params.cycleId
          },
          refetchQueries: [
            {
              query: EvaluationTreeDisplay,
              variables: {
                cycleId: Number(this.$route.params.cycleId)
              }
            }
          ]
        })
        .then(() =>
          this.$router.push({
            path: `/evaluationTree/course/${
              this.$route.params.courseId
            }/cycle/${this.$route.params.cycleId}/subject/${
              this.$route.params.subjectId
            }`
          })
        );
    },
    deleteSubject() {
      this.$apollo
        .mutate({
          mutation: DeleteSubject,
          variables: {
            subjectId: this.$route.params.subjectId,
            cycleId: this.$route.params.cycleId
          },
          refetchQueries: [
            {
              query: EvaluationTreeDisplay,
              variables: {
                cycleId: Number(this.$route.params.cycleId)
              }
            }
          ]
        })
        .then(() =>
          this.$router.push({
            path: `/evaluationTree/course/${
              this.$route.params.courseId
            }/cycle/${this.$route.params.cycleId}`
          })
        );
    },
    delete() {
      !this.$route.params.componentId
        ? !this.$route.params.testId
          ? this.deleteSubject()
          : this.deleteTest()
        : this.deleteComponent();
      const objectType = !this.$route.params.componentId
        ? !this.$route.params.testId
          ? "מקצוע"
          : "מבחן"
        : "קריטריון";
      Swal.fire("נמחק!", "ה" + objectType + " נמחק בהצלחה", "success");
    },
    activateDeleteFunction() {
      const deleteComponentLevel = !this.$route.params.componentId
        ? !this.$route.params.testId
          ? deleteLevel.SUBJECT
          : deleteLevel.TEST
        : deleteLevel.COMPONENT;
      const ifGradesExsists = () =>
        Swal({
          title:
            sweetAlert.GENERAL_DELETE_TITLE +
            deleteComponentLevel +
            "," +
            sweetAlert.TITLE_IF_GRADES,
          text: sweetAlert.TEXT_IF_GRADES + this.currentNode.node.name,
          type: "warning",
          showCancelButton: true,
          input: "text",
          confirmButtonText: sweetAlert.CONFIRM_BUTTON_TEXT,
          cancelButtonText: sweetAlert.CANCEL_BUTTON_TEXT,
          allowOutsideClick: false
        }).then(text => {
          text.value === this.currentNode.node.name
            ? this.delete()
            : text.dismiss !== "cancel"
            ? Swal.fire(sweetAlert.TEXT_IF_WRONG_NAME, "", "error")
            : null;
        });
      const ifGradesDosentExsists = () =>
        Swal({
          title:
            sweetAlert.GENERAL_DELETE_TITLE +
            deleteComponentLevel +
            "," +
            sweetAlert.TITLE_IF_NOT_GRADES,
          type: "warning",
          showCancelButton: true,
          confirmButtonText: sweetAlert.CONFIRM_BUTTON_TEXT,
          cancelButtonText: sweetAlert.CANCEL_BUTTON_TEXT,
          allowOutsideClick: false
        }).then(result => {
          result.value ? this.delete() : null;
        });
      this.currentNode.node.grades_aggregate.aggregate.count
        ? ifGradesExsists()
        : ifGradesDosentExsists();
    }
  }
};
</script>
<style>
.boldText {
  font-weight: bold;
}
.marginRight {
  margin-right: 4% !important;
}
.marginTop {
  margin-top: 4% !important;
}
#sons {
  margin-right: 3%;
  margin-top: 2%;
}
</style>
