<template>
  <li>
    <b-button
      class="col-3 m-1"
      variant="success"
      :to="{
        path: `/evaluationTree/course/${this.$route.params.courseId}/cycle/${
          this.$route.params.cycleId
        }/subject/${node.subject.id}`
      }"
    >
      <div @click="toggle">
        <span class="d-inline-block w-75">{{ node.subject.name }}</span>
      </div>
    </b-button>
    <label class="labelDesign"> משקל : {{ node.weight }} </label>

    <ul
      v-if="node.subject.tests"
      v-show="isExtended"
      class="list-unstyled mr-5"
    >
      <b-button class="col-3 m-1" variant="outline-info" @click="changeAddSon">
        <div><span class="d-inline-block w-75">הוסף מבחן</span></div>
      </b-button>
      <b-row v-show="isAddSonOpen" class="mr-1">
        <input
          type="text"
          v-model="newName"
          placeholder="שם"
          class="col-0.5 m-2 mt-3 mb-3"
          onfocus="this.placeholder = ''"
          onblur="this.placeholder = 'שם'"
        />
        <input
          type="text"
          placeholder="משקל"
          class="col-2 m-2 mt-3 mb-3"
          v-model="newWeight"
          onfocus="this.placeholder = ''"
          onblur="this.placeholder = 'משקל'"
        />
        <div class="col-0.5 m-2">
          <b-button
            v-if="testsMaxOrder"
            variant="info"
            class="col-0.5 m-1 "
            @click="addTest"
          >
            הוסף מבחן
          </b-button>
        </div>
      </b-row>
      <TestNode
        v-for="test in node.subject.tests"
        :key="test.cycle_instances[0].test.id"
        :node="test.cycle_instances[0]"
      ></TestNode>
    </ul>
  </li>
</template>

<script>
import TestNode from "./TestNode";
import addTest from "../../graphql/AddTest.js";
import TestsMaxOrder from "../../graphql/TestsMaxOrder";
import EvaluationTreeDisplay from "../../graphql/EvaluationTreeDisplay";
import Swal from "sweetalert2";
import { sweetAlert } from "../../assets/constants.js";

export default {
  name: "SubjectNode",
  props: {
    node: Object
  },
  components: {
    TestNode
  },
  apollo: {
    testsMaxOrder: {
      skip() {
        return !this.$route.params.subjectId;
      },
      query() {
        return TestsMaxOrder;
      },
      variables() {
        return {
          cycleId: Number(this.$route.params.cycleId),
          subjectId: Number(this.$route.params.subjectId)
        };
      }
    }
  },
  data() {
    return {
      isExtended: false,
      isAddSonOpen: false,
      newName: "",
      newWeight: ""
    };
  },
  created() {
    Number(this.$route.params.subjectId) === this.node.subject.id
      ? (this.isExtended = true)
      : null;
  },
  updated() {
    !this.$route.params.subjectId ? (this.isExtended = false) : null;
  },
  methods: {
    showAlert() {
      Swal.fire({
        type: "warning",
        title: sweetAlert.TEXT_IF_NO_VALUES,
        toast: true,
        position: "bottom",
        showConfirmButton: false,
        timer: 3000
      });
    },
    toggle() {
      this.isExtended = !this.isExtended;
    },
    changeAddSon() {
      this.isAddSonOpen = !this.isAddSonOpen;
    },
    addTest() {
      this.newName === "" && this.newWeight === ""
        ? this.showAlert()
        : this.$apollo
            .mutate({
              mutation: addTest,
              variables: {
                name: this.newName === "" ? "שם חדש" : this.newName,
                order: this.testsMaxOrder.aggregate.max.order + 1,
                weight: this.newWeight === "" ? "0" : this.newWeight,
                cycleId: this.$route.params.cycleId,
                subjectId: this.node.subject.id
              },
              refetchQueries: [
                {
                  query: EvaluationTreeDisplay,
                  variables: {
                    cycleId: Number(this.$route.params.cycleId)
                  }
                },
                {
                  query: TestsMaxOrder,
                  variables: {
                    cycleId: Number(this.$route.params.cycleId),
                    subjectId: Number(this.$route.params.subjectId)
                  }
                }
              ]
            })
            .then(() => {
              this.newName = "";
              this.newWeight = "";
              this.isAddSonOpen = false;
            });
    }
  }
};
</script>
<style>
.labelDesign {
  font-weight: bold !important;
  margin-right: 1% !important;
}
</style>
