<template>
  <li>
    <b-button
      class="col-3 m-1"
      variant="info"
      :to="{
        path: `/evaluationTree/course/${this.$route.params.courseId}/cycle/${
          this.$route.params.cycleId
        }/subject/${this.$route.params.subjectId}/test/${node.test.id}`
      }"
    >
      <div @click="toggle">
        <span class="d-inline-block w-75">{{ node.test.name }}</span>
      </div>
    </b-button>
    <label class="labelDesign"> משקל : {{ node.weight }} </label>

    <ul
      v-if="node.test.components"
      v-show="isExtended"
      class="list-unstyled mr-5"
    >
      <b-button
        class="col-3 m-1"
        variant="outline-warning"
        @click="changeAddSon"
      >
        <div><span class="d-inline-block w-75">הוסף רכיב</span></div>
      </b-button>
      <b-row v-show="isAddSonOpen" class="mr-1">
        <input
          type="text"
          placeholder="שם"
          class="col-0.5 m-2 mt-3 mb-3"
          v-model="newName"
          onfocus="this.placeholder = ''"
          onblur="this.placeholder = 'שם'"
        />
        <input
          type="text"
          placeholder="משקל"
          class="col-2 m-2 mt-3 mb-3"
          v-model="newWeight"
          onfocus="this.placeholder = ''"
          onblur="this.placeholder = 'משקל'"
        />
        <div class="col-0.5 m-1">
          <b-button
            v-if="componentsMaxOrder"
            variant="warning"
            class="col-0.5 m-2 "
            @click="addComponent"
            >הוסף קריטריון</b-button
          >
        </div>
      </b-row>
      <ComponentNode
        v-for="component in node.test.components"
        :key="component.cycle_instances[0].component.id"
        :node="component.cycle_instances[0]"
      ></ComponentNode>
    </ul>
  </li>
</template>

<script>
import ComponentNode from "./ComponentNode";
import AddComponent from "../../graphql/AddComponent";
import ComponentsMaxOrder from "../../graphql/ComponentsMaxOrder";
import EvaluationTreeDisplay from "../../graphql/EvaluationTreeDisplay";
import Swal from "sweetalert2";
import { sweetAlert } from "../../assets/constants.js";

export default {
  name: "TestNode",
  props: {
    node: Object
  },
  components: {
    ComponentNode
  },
  apollo: {
    componentsMaxOrder: {
      skip() {
        return !this.$route.params.testId;
      },
      query() {
        return ComponentsMaxOrder;
      },
      variables() {
        return {
          cycleId: Number(this.$route.params.cycleId),
          testId: Number(this.$route.params.testId)
        };
      }
    }
  },
  data() {
    return {
      isExtended: false,
      isAddSonOpen: false,
      newWeight: "",
      newName: ""
    };
  },
  created() {
    Number(this.$route.params.testId) === this.node.test.id
      ? (this.isExtended = true)
      : null;
  },
  updated() {
    !this.$route.params.testId ? (this.isExtended = false) : null;
  },
  methods: {
    showAlert() {
      Swal.fire({
        type: "warning",
        title: sweetAlert.TEXT_IF_NO_VALUES,
        toast: true,
        position: "bottom",
        showConfirmButton: false,
        timer: 3000
      });
    },
    toggle() {
      this.isExtended = !this.isExtended;
    },
    changeAddSon() {
      this.isAddSonOpen = !this.isAddSonOpen;
    },
    addComponent() {
      this.newName === "" && this.newWeight === ""
        ? this.showAlert()
        : this.$apollo
            .mutate({
              mutation: AddComponent,
              variables: {
                name: this.newName === "" ? "שם חדש" : this.newName,
                order: this.componentsMaxOrder.aggregate.max.order + 1,
                weight: this.newWeight === "" ? 0 : this.newWeight,
                cycleId: this.$route.params.cycleId,
                testId: this.$route.params.testId
              },
              refetchQueries: [
                {
                  query: EvaluationTreeDisplay,
                  variables: {
                    cycleId: Number(this.$route.params.cycleId)
                  }
                },
                {
                  query: ComponentsMaxOrder,
                  variables: {
                    cycleId: Number(this.$route.params.cycleId),
                    testId: Number(this.$route.params.testId)
                  }
                }
              ]
            })
            .then(() => {
              this.newName = "";
              this.newWeight = "";
              this.isAddSonOpen = false;
            });
    }
  }
};
</script>
<style>
.labelDesign {
  font-weight: bold !important;
  margin-right: 1% !important;
}
</style>
