<template>
  <ul class="list-unstyled mt-2 direction-right">
    <li>
      <b-button
        class="col-3 m-1"
        variant="outline-success"
        @click="changeAddSon"
      >
        <div><span class="d-inline-block w-75">הוסף נושא</span></div>
      </b-button>
      <b-row v-show="isAddSonOpen" class="mr-1">
        <input
          type="text"
          v-model="newName"
          placeholder="שם"
          class="col-0.5 m-2 mt-3 mb-3"
          onfocus="this.placeholder = ''"
          onblur="this.placeholder = 'שם'"
        />
        <input
          type="text"
          placeholder="משקל"
          class="col-2 m-2 mt-3 mb-3"
          v-model="newWeight"
          onfocus="this.placeholder = ''"
          onblur="this.placeholder = 'משקל'"
        />
        <div class="col-0.5 m-2">
          <b-button
            variant="success"
            v-if="subjectsMaxOrder"
            class="col-0.5 m-1 "
            @click="addSubject"
          >
            הוסף מקצוע
          </b-button>
        </div>
      </b-row>
    </li>
    <div v-if="treeData">
      <SubjectNode
        v-for="subject in treeData"
        :key="subject.subject.id"
        :node="subject"
      ></SubjectNode>
    </div>
  </ul>
</template>

<script>
import SubjectNode from "./SubjectNode";
import AddSubject from "../../graphql/AddSubject";
import SubjectsMaxOrder from "../../graphql/SubjectsMaxOrder";
import EvaluationTreeDisplay from "../../graphql/EvaluationTreeDisplay";
import Swal from "sweetalert2";
import { sweetAlert } from "../../assets/constants.js";
export default {
  props: {
    treeData: Array
  },
  components: {
    SubjectNode
  },
  apollo: {
    subjectsMaxOrder: {
      query() {
        return SubjectsMaxOrder;
      },
      variables() {
        return {
          cycleId: Number(this.$route.params.cycleId)
        };
      }
    }
  },
  data() {
    return {
      newName: "",
      newWeight: "",
      isAddSonOpen: false
    };
  },
  methods: {
    showAlert() {
      Swal.fire({
        type: "warning",
        title: sweetAlert.TEXT_IF_NO_VALUES,
        toast: true,
        position: "bottom",
        showConfirmButton: false,
        timer: 3000
      });
    },
    changeAddSon() {
      this.isAddSonOpen = !this.isAddSonOpen;
    },
    addSubject() {
      this.newName === "" && this.newWeight === ""
        ? this.showAlert()
        : this.$apollo
            .mutate({
              mutation: AddSubject,
              variables: {
                name: this.newName === "" ? "שם חדש" : this.newName,
                order: this.subjectsMaxOrder.aggregate.max.order + 1,
                weight: this.newWeight === "" ? 0 : this.newWeight,
                cycleId: this.$route.params.cycleId,
                courseId: this.$route.params.courseId
              },
              refetchQueries: [
                {
                  query: EvaluationTreeDisplay,
                  variables: {
                    cycleId: Number(this.$route.params.cycleId)
                  }
                },
                {
                  query: SubjectsMaxOrder,
                  variables: {
                    cycleId: Number(this.$route.params.cycleId)
                  }
                }
              ]
            })
            .then(() => {
              this.newName = "";
              this.newWeight = "";
              this.isAddSonOpen = false;
            });
    }
  }
};
</script>
<style>
input {
  text-align: center;
}
.direction-right {
  direction: rtl;
}
</style>
