<template>
  <div class="right-to-left">
    <div class="page">
      <nav-bar></nav-bar>
      <div class="page-content d-flex align-items-stretch">
        <router-view></router-view>
      </div>
    </div>
  </div>
</template>

<script>
import NavBar from "./components/NavBar.vue";

export default {
  name: "App",
  components: {
    "nav-bar": NavBar
  }
};
</script>

<style>
  .right-to-left {
    direction: rtl;
    text-align: start;
  }
</style>
